
               <% content_for :title do %>
               <title>Страница не найдена</title> 
                <meta name="description" content="Today ( ) gold rate (price) in  for 24 and 22 karat/carat gold given in per gram."> 
               <% end %>

               <div id="main-content" class="twelve columns">

               <h1>404 ошибка. Страница не найдена</h1>

               <p> Что-то пошло не так....
               </p></div> 