
               <% content_for :title do %>
               <title>Цена золота в некоторых странах</title> 
                <meta name="description" content="Полный список стран с ценами на золото в национальных валютах"> 
               <% end %>

               <div id="main-content" class="twelve columns">

               <h1>Цена 1 грамма золота в некоторых странах</h1>
               <p>Gold price in some countries: scroll down,then click on your country to display gold price details. </p>
               <% @allcurr.sort.each do |curr| %> 
               <div id="allcountry" class="group">
                  <span><img src="/images/<%= curr.upcase %>.png"> <a href="/<%= curr.downcase %>"><%= curr %></span> 
                  <span><em>-</em></span> 
                    <%= @yaml_store[curr][:meta_currency][1] %> </a>                
               </div>               	
               	<% end %>               
               	 </div> 