
               <% content_for :title do %>
               <title>Наши контакты</title> 
                <meta name="description" content="Наша электронная почта и другие способы связи"> 
               <% end %>

               <div id="main-content" class="twelve columns">

               <h1>Как с нами связаться</h1>

               <p> Все замечания и пожелания отправляйте на адрес info()goldnp.com
               </p></div> 