
               <% content_for :title do %>
               <title>Please email us!</title> 
                <meta name="description" content="Today ( ) gold rate (price) in  for 24 and 22 karat/carat gold given in per gram."> 
               <% end %>

               <div id="main-content" class="twelve columns">

               <h1>About us</h1>

               <p> We take every effort to keep the website information updated and correct but we do not take any gaurantee/warranty for the accuracy of the data provided on the website by any means. The information provided on the website is for general information purpose only. Usage of the information provided on the website by any means is strictly at your own risk. We advice our users to consider this information as indicative.
               </p></div> 