
               <% content_for :title do %>
               <title>Цена золота онлайн и отказ от гарантий </title> 
                <meta name="description" content="Использование данного сайта и его содержимого осуществляется исключительно по усмотрению Пользователя"> 
               <% end %>

               <div id="main-content" class="twelve columns">

               <h1>Отказ от гарантий и ответственности</h1>

               <p> Вся информация предоставляется в исходном виде, без гарантий полноты или своевременности, и без иных, явно выраженных или подразумеваемых гарантий. Доступ, а также использование данного сайта и его содержимого осуществляется исключительно по усмотрению Пользователя и на его риск.
               </p>

               <p> We take every effort to keep the website information updated and correct but we do not take any gaurantee/warranty for the accuracy of the data provided on the website by any means. The information provided on the website is for general information purpose only. Usage of the information provided on the website by any means is strictly at your own risk. We advice our users to consider this information as indicative.
               </p></div> 