
               <% content_for :title do %>
               <title>Цена золота онлайн и отказ от гарантий </title> 
                <meta name="description" content="Использование данного сайта и его содержимого осуществляется исключительно по усмотрению Пользователя"> 
               <% end %>

               <div id="main-content" class="twelve columns">

               <h1>Отказ от гарантий и ответственности</h1>

               
               <p> We take every effort to keep the website information updated and correct but we do not take any gaurantee/warranty for the accuracy of the data provided on the website by any means. The information provided on the website is for general information purpose only. Usage of the information provided on the website by any means is strictly at your own risk. We advice our users to consider this information as indicative.
               </p></div> 

               <% content_for :useful_content do %>
               <div id="blog-content">
            <p> Вся информация предоставляется в исходном виде, без гарантий полноты или своевременности, и без иных, явно выраженных или подразумеваемых гарантий. Доступ, а также использование данного сайта и его содержимого осуществляется исключительно по усмотрению Пользователя и на его риск.
               </p>
               <p>
                  Информация, размещенная на этом веб-сайте, предназначена для общего ознакомления.

Информация предоставлена ru.goldnp.com, несмотря на наши усилия по обеспечению правильности и актуальности информации, мы не предоставляем каких-либо явных или подразумеваемых заверений, или гарантий относительно полноты, точности, надежности и пригодности веб-сайта или информации, продукции, услуг или соответствующих графических материалов, опубликованных на веб-сайте в тех или иных целях. Соответственно, вы используете указанную информацию исключительно на свой страх и риск.</p> <p>

Мы ни в коем случае не несем ответственность за убыток или ущерб, включая, в том числе, косвенный или сопутствующий убыток и ущерб, и в целом любой убыток и ущерб, возникший в результате потери данных или упущенной выгоды, или возникший в результате или в связи с использованием данного веб-сайта. С этого веб-сайта вы можете переходить по ссылке на другие веб-сайты, которые не находятся под контролем Goldnp.com. Мы не контролируем характер, содержание или доступность данных сайтов. Наличие любых ссылок не обязательно означает рекомендацию или одобрение выраженных в них суждений.</p><p>

Мы прилагаем все усилия, чтобы обеспечить бесперебойную работу данного веб-сайта. Тем не менее, goldnp.com не несет ответственность за временную недоступность веб-сайта в результате не зависящих от нас технических проблем.</p>
            </div>
               <% end %>