<!DOCTYPE html>
<!--[if IE 8 ]><html class="no-js oldie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html class="no-js" lang="en"> <!--<![endif]-->

<head>

	<!--- Basic Page Needs
   ================================================== -->
   <meta charset="utf-8">
	<title>Цена золота 585 и 750 пробы</title>
   <meta name="description" content="Сколько стоит 1 грамм золота в тенге. Цены в ломбардах Казахстана. Узнайте цену на золото 583, 585, 750, 850, 900, 916 пробы.">  
   <meta name="author" content="">

   <!-- Mobile Specific Metas
   ================================================== -->
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

   <!-- CSS
   ================================================== -->
   <link rel="stylesheet" href="css/base.css">
   <link rel="stylesheet" href="css/vendor.css">
   <link rel="stylesheet" href="css/main.css">    

   <!-- Modernizr
   =================================================== -->
   <script src="js/modernizr.js"></script>

   <!-- Favicons
   =================================================== -->
   <link rel="shortcut icon" href="favicon.png" >
    
</head>
    
<body>

   <!--[if lt IE 9]>
   	<p class="browserupgrade">You are using an <strong>outdated</strong> browser. 
   	Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
   <![endif]-->   

   <!-- content-wrap -->
   <div id="content-wrap">
   <!-----navbar-->
   <nav id="nav-wrap" style="display: block;" class="">

         <a class="mobile-btn" href="#nav-wrap" title="Show navigation">Show navigation</a>
        <a class="mobile-btn" href="#" title="Hide navigation">Hide navigation</a>

         <ul id="nav" class="nav">
            <li class=""><a class="smoothscroll" href="/">KZT</a></li>
            <li class=""><a class="smoothscroll" href="/kgz">KGZ</a></li>           
            <li class=""><a class="smoothscroll" href="#contact">Контакт</a></li>
         </ul>       
      </nav>
         <!-- end #nav -->



      <!-- main  -->
      <main class="row">

            <div id="main-content" class="twelve columns">

               <h1>Цена 1 грамма золота в тенге</h1>

               <p> Расчет на основе текущей цены 1 тройской унции (<%= @price.fetch(:gold_value)%> USD) и курса доллара (<%= @price.fetch(:currency_kzt) %> KZT).</p>

               <hr>

               <%= yield %>      
               
            </div><!-- /main-content form -->

            <div class="modal-toggles">
               <ul>
                    <li class="about-us"><a href="http://lombardo.kz">lombardo.kz</a></li>
                    <li class="location"><a href="/">Our Location</a></li>
               </ul>
            </div><!-- /modal-toggles --> 	
            
      </main>	      

   </div><!-- /content-wrap --> 
    	

   
   <footer class="group">         

     	<ul class="footer-social">
         <li><a href="#"><i class="fa fa-facebook"></i></a></li>
         <li><a href="#"><i class="fa fa-twitter"></i></a></li>
         <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
         <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
         <li><a href="#"><i class="fa fa-instagram"></i></a></li>
         <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
         <li><a href="#"><i class="fa fa-skype"></i></a></li>
     	</ul>   

     	<ul class="footer-copyright">
         <li>&copy; Copyright 2017 Advent</li>
         <li>Design by <a title="Styleshout" href="http://www.styleshout.com/">Styleshout</a></li>
         <li> <!-- Yandex.Metrika informer -->
<a href="https://metrika.yandex.ru/stat/?id=39702280&amp;from=informer"
target="_blank" rel="nofollow"><img src="https://informer.yandex.ru/informer/39702280/1_1_FFFFFFFF_EFEFEFFF_0_uniques"
style="width:80px; height:15px; border:0;" alt="Яндекс.Метрика" title="Яндекс.Метрика: данные за сегодня (уникальные посетители)" class="ym-advanced-informer" data-cid="39702280" data-lang="ru" /></a>
<!-- /Yandex.Metrika informer -->

<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter39702280 = new Ya.Metrika({
                    id:39702280,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/39702280" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter --></li>
      </ul>  
        
   </footer> 

   <div id="preloader"> 
    	<div id="loader">
     	</div>
   </div> 
   
<!-- Script
=================================================== -->
<script src="js/jquery-1.11.3.min.js"></script>
<script src="js/jquery-migrate-1.2.1.min.js"></script>
<script src="js/jquery.fittext.js"></script>
<script src="js/jquery.countdown.min.js"></script>
<script src="js/jquery.placeholder.min.js"></script>
<script src="js/main.js"></script>    
        
</body>
</html>